:root ._dsp-flex{display:flex;}
:root ._fb-auto{flex-basis:auto;}
:root ._bxs-border-box{box-sizing:border-box;}
:root ._mih-0px{min-height:0px;}
:root ._miw-0px{min-width:0px;}
:root ._fs-0{flex-shrink:0;}
:root ._fd-column{flex-direction:column;}
:root ._bg-8e4ec67a35{background-color:#8e4ec67a;}
:root ._backdropFilter-blur5px1281{backdrop-filter:blur(5px);}
:root ._t-100px{top:100px;}
:root ._zi-100{z-index:100;}
:root ._l-0px{left:0px;}
:root ._pos-absolute{position:absolute;}
:root ._gap-1481558214{gap:var(--space-7);}
:root ._mt-1481558152{margin-top:var(--space-9);}
:root ._mr-1481558152{margin-right:var(--space-9);}
:root ._mb-1481558152{margin-bottom:var(--space-9);}
:root ._ml-1481558152{margin-left:var(--space-9);}
:root ._pt-1481558214{padding-top:var(--space-7);}
:root ._pr-1481558214{padding-right:var(--space-7);}
:root ._pb-1481558214{padding-bottom:var(--space-7);}
:root ._pl-1481558214{padding-left:var(--space-7);}
:root ._ai-left{align-items:left;}