:root ._dsp-flex{display:flex;}
:root ._fb-auto{flex-basis:auto;}
:root ._bxs-border-box{box-sizing:border-box;}
:root ._pos-relative{position:relative;}
:root ._mih-0px{min-height:0px;}
:root ._miw-0px{min-width:0px;}
:root ._fs-0{flex-shrink:0;}
:root ._fd-column{flex-direction:column;}
:root ._gap-1481558214{gap:var(--space-7);}
:root ._mt-1481558152{margin-top:var(--space-9);}
:root ._mr-1481558152{margin-right:var(--space-9);}
:root ._mb-1481558152{margin-bottom:var(--space-9);}
:root ._ml-1481558152{margin-left:var(--space-9);}
:root ._pt-1481558214{padding-top:var(--space-7);}
:root ._pr-1481558214{padding-right:var(--space-7);}
:root ._pb-1481558214{padding-bottom:var(--space-7);}
:root ._pl-1481558214{padding-left:var(--space-7);}
:root ._ai-left{align-items:left;}
:root ._dsp-inline{display:inline;}
:root ._ww-break-word{word-wrap:break-word;}
:root ._mt-0px{margin-top:0px;}
:root ._mr-0px{margin-right:0px;}
:root ._mb-0px{margin-bottom:0px;}
:root ._ml-0px{margin-left:0px;}
:root ._col-675002279{color:var(--color);}
:root ._ff-299667014{font-family:var(--f-fa);}
:root ._fow-800{font-weight:800;}
:root ._ls-905095908{letter-spacing:var(--f-21-10);}
:root ._fos-1477259397{font-size:var(--f-si-10);}
:root ._lh-1677663454{line-height:var(--f-li-10);}
:root ._ussel-auto{user-select:auto;-webkit-user-select:auto;}
:root ._whiteSpace-normal{white-space:normal;}
:root ._ai-stretch{align-items:stretch;}
:root ._mt-1316330145{margin-top:var(--space-11);}
:root ._mr-1316330145{margin-right:var(--space-11);}
:root ._mb-1316330145{margin-bottom:var(--space-11);}
:root ._ml-1316330145{margin-left:var(--space-11);}
:root ._pt-1316330145{padding-top:var(--space-11);}
:root ._pr-1316330145{padding-right:var(--space-11);}
:root ._pb-1316330145{padding-bottom:var(--space-11);}
:root ._pl-1316330145{padding-left:var(--space-11);}